.dashboard-course-card
{
  height: 10rem;
  width: 10rem;
 display: flex;
 justify-content: center;
 align-items: center;
 background: red;
 background: #0ba22b;
 
}
.course-dashboard
{
  height: 100vh;
  width: 20%;
  box-shadow: 5px 10px 10px #999;
 
}
